<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'turismo/css/styles.css' %}">
</head>
<body>

    <!-- {% for alumno in Alumnos %}
        {{alumno.rut}}, {{alumno.nombre}}, {{alumno.apellido_paterno}},
        {{alumno.apellido_materno}}, {{alumno.id_genero.genero}} <br>
    {% endfor %} -->
    <div>
        <nav id="barranav">
        <h1 id="empresa">Turismo ES</h1>
        </nav>

        <div>
            <form action="{% url 'registrarServicio' %}" method="POST"  enctype="multipart/form-data"> {% csrf_token %}
                <div>
                    <label for="id">ID</label>
                    <input type="number" name="idServicio" placeholder="id">
                </div>
                <div>
                    <label for="precio">Precio</label>
                    <input type="number" name="precioServicio" placeholder="Precio">
                </div>
                <div>
                    <label for="foto">Foto</label>
                    <input type="file" name="fotoServicio" >
                </div>
                <div>
                    <label for="descripcion">Descripcion</label>
                    <input type="text" name="descripcionServicio" placeholder="Descrpcion">
                </div>
                <div>
                    <input type="submit" value="Guardar">
                </div>
            </form>
        </div>
        <button >

        </button>
        <p>
            <a href="{% url 'listar' %}">Nuestros servicios</a>
        </p>
    </div>
    <script src="{% static 'turismo/js/scripts.js' %}"></script>
</body>
</html>