<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
         {% for servicio in Servicios %}
            <li>
                <h2>{{ servicio.descripcion }}</h2>
                <p>Precio: {{ servicio.precio }}</p>
                <img src="{{ servicio.foto.url }}" alt="Foto de {{ servicio.descripcion }}">
            </li>
        {% endfor %} 
    </ul>

</body>
</html>