<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Servicios</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'turismo/css/stylesListar.css' %}">
</head>
<body>
    <div class="general">
    
         {% for servicio in Servicios %}
            <div class="servicioTipo">
            
                <h2>{{ servicio.descripcion }}</h2>
                <p>Precio: {{ servicio.precio }}</p>
                <img src="{{ servicio.foto.url }}" alt="Foto de {{ servicio.descripcion }}">
            
            </div>
            <br>
        {% endfor %} 
    
    </div>
</body>
</html>